PROJECT_NAME="test-thirty-fifth"
PROJECT_SLUG=test-thirty-fifth
GITHUB_REPOSITORY=test-thirty-fifth
LINEAR_PROJECT_KEY=TEST_THIRTY_FIFTH
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
